.customDropdown{
    background-color: #C6E4D6;
    color: black;
}

.customTableHead th {
    background-color: #C6E4D6;
   
}
.OpinionSection{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}